{% extends 'base.html' %}
{% block title %}CLP
{% endblock title %}
{% block body %}
{%load static %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/compressor">Compressor</a></li>
    <li class="breadcrumb-item"><a href="/recipro_oillubricatedtype">Recipro-Oil Lubricated Type</a></li>
    <li class="breadcrumb-item active" aria-current="page">CLP</li>
  </ol>
</nav>

<h1 class="text-center" style="background: #212529!important;color: wheat;">CLP Series</h1>
<div class="container">
  <div class="row row-cols-2">
    <div class="col">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
         <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'CLP2.2.jpg' %}" class="d-block w-100" alt="...">
         </div>
         <div class="carousel-item">
           <img src="{% static 'CLP3.7.jpg' %}" class="d-block w-100" alt="...">
         </div>
         <div class="carousel-item">
           <img src="{% static 'CLP5.5.jpg' %}" class="d-block w-100" alt="...">
         </div>
         <div class="carousel-item">
           <img src="{% static 'CLP11.jpg' %}" class="d-block w-100" alt="...">
         </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> 
    </div>
    <div class="col">
      <div class="text">
          <h2>Simple and economical<br>
                  The package type is very quiet.<br>
                  All models are equipped with an oil alarm as a standard feature.</h2>
                  <div class="summary"><b>Applications</b><br>
                      ・Source of air for operating general factory equipment<br>
                      ・Leisure services<br>
                      ・Fiber industry<br>
                      ・Others
                  </div>
					
				
    </div>
    <div class="col">
      <img src="{% static 'highperformance.jpg' %}" class="rounded float-end" width="320" height="50" alt="">
    </div>
  </div>
</div>

<h1 class="text-center" style="background: #212529!important;color: wheat;">Features</h1>

<div class="textset">
					
						<h3 class="title_s">Advanced functions to meet professionals' expectations</h3>
					
						<div class="text">
							Functions such as microcomputer control, remote control and multiple unit control are available as options or built-to-made models.<br>
                            <br>
                            <b>Energy-efficient and economical</b><br>
                            The automatic start-stop system using a pressure switch enables energy-efficient and economical operation.
						</div><!-- /text -->
					
</div>


{%endblock body%}