{% extends 'base.html' %}
{% block title %}Compressor
{% endblock title %}
{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Compressor</li>
  </ol>
</nav>


<h1 class="text-center" style="background: #212529!important;color: wheat;">Air Compressors</h1>

<div class="position-relative">
  <div class="position-absolute top-0 start-0">
    <div class="card" style="width: 18rem;">
      <img src="/static/recipro.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Recipro</h5>
      </div>
      <ul class="list-group list-group-flush">
        <a href="/recipro_oillubricatedtype" class="card-link" style="width: 270px !important; height: 24px !important; margin-left: 16px !important;">Oil Lubricated Type</a>
        <a href="#" class="card-link">Oil Free</a>
        <a href="#" class="card-link">Related Products</a>
      </ul>
    </div>

    <div class="card" style="width: 18rem; margin-top: 50px !important;">
      <img src="/static/claw.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Claw</h5>
      </div>
      <ul class="list-group list-group-flush">
        <a href="#" class="card-link" style="width: 270px !important; height: 24px !important; margin-left: 16px !important;">Oil Free Type</a>
      </ul>
    </div> 
  </div>
  <div class="position-absolute top-0 start-50 translate-middle-x">
    <div class="card" style="width: 18rem;">
      <img src="/static/scroll.png" class="card-img-top" alt="..." style="height: 242px !important;">
      <div class="card-body">
        <h5 class="card-title">Scroll</h5>
      </div>
      <ul class="list-group list-group-flush">
        <a href="#" class="card-link" style="width: 270px !important; height: 24px !important; margin-left: 16px !important;">Oil Free Type</a>
      </ul>
    </div>
  
    <div class="card" style="width: 18rem; margin-top: 50px !important;">
      <img src="/static/Dryer.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dryer</h5>
      </div>
      <ul class="list-group list-group-flush">
        <a href="#" class="card-link" style="width: 270px !important; height: 24px !important; margin-left: 16px !important;">Dryer</a>
      </ul>
    </div> 

  </div>

  <div class="position-absolute top-0 end-0">
    <div class="card" style="width: 18rem;">
      <img src="/static/screw.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Screw</h5>
      </div>
      <ul class="list-group list-group-flush">
        <a href="#" class="card-link" style="width: 270px !important; height: 24px !important; margin-left: 16px !important;">Oil Lubricated Type</a>
      </ul>
    </div> 
  
  </div>
</div>




{% endblock body %}