{% extends 'base.html' %}
{% block title %}Compressor
{% endblock title %}
{% block body %}
{% load static %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Compressor</li>
  </ol>
</nav>


<h1 class="text-center" style="background: #212529!important;color: wheat;">Air Compressors</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'Recipro.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
         <h5 class="card-title">Recipro</h5>
        </div>
        <ul class="list-group list-group-flush">
          <a href="/recipro_oillubricatedtype" class="card-link" style="width: 270px !important; height: 24px !important; margin-left: 16px !important;">Oil Lubricated Type</a>
          <a href="/recipro_oilfreetype" class="card-link">Oil Free</a>
          <a href="#" class="card-link">Related Products</a>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'Scroll.png' %}" class="card-img-top" alt="..." style="height: 242px !important;">
        <div class="card-body">
          <h5 class="card-title">Scroll</h5>
        </div>
        <ul class="list-group list-group-flush">
          <a href="#" class="card-link" style="width: 270px !important; height: 24px !important; margin-left: 16px !important;">Oil Free Type</a>
        </ul>
     </div>  
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'Screw.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Screw</h5>
        </div>
        <ul class="list-group list-group-flush">
          <a href="#" class="card-link" style="width: 270px !important; height: 24px !important; margin-left: 16px !important;">Oil Lubricated Type</a>
        </ul>
      </div>
    </div>     
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
       <img src="{% static 'claw.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
         <h5 class="card-title">Claw</h5>
        </div>
        <ul class="list-group list-group-flush">
          <a href="#" class="card-link" style="width: 270px !important; height: 24px !important; margin-left: 16px !important;">Oil Free Type</a>
        </ul>
      </div> 
    </div> 
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'Dryer.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dryer</h5>
        </div>
        <ul class="list-group list-group-flush">
          <a href="#" class="card-link" style="width: 270px !important; height: 24px !important; margin-left: 16px !important;">Dryer</a>
        </ul>
      </div> 
    </div>
    <div class="col"></div>
  </div>
</div>









{% endblock body %}