{% extends 'base.html' %}
{% block title %}Portable Compressor for Outwork PLU/PLUE-B Series
{% endblock title %}
{% block body %}
{%load static %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/compressor">Compressor</a></li>
    <li class="breadcrumb-item"><a href="/recipro_oilfreetype">Recipro-Oil Free Type</a></li>
    <li class="breadcrumb-item active" aria-current="page">Portable Compressor for Outwork PLU/PLUE-B Series</li>
  </ol>
</nav>

<h1 class="text-center" style="background: #212529!important;color: wheat;">Portable Compressor for Outwork PLU/PLUE-B Series</h1>
<div class="container">
  <div class="row row-cols-2">
        <div class="col">
        <img src="{% static 'PLUE07B10.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="text">
				<h2>Useful in a wide range of outwork applications including building painting, construction and stone processing.</h2><div class="summary"><b>Applications</b><br>
                ・Building painting (spray painting)<br>
                ・Construction work (air source for carpentry and plastering)<br>
                ・Plating (air tools)<br>
                ・Air source for other outwork applications</div>
			</div>
   </div>
</div>
<h1 class="text-center" style="background: #212529!important;color: wheat;">Features</h1>

<div class="text">
							<b>Powerful</b><br>
Capable of providing the maximum pressure of 1.0 MPa and dealing with medium-pressure applications as well. Work at high places and remote places is easy.<br>
<br>
<b>Improved reliability</b><br>
・A simplified control method prevents engine failure and other engine-related problems (engine type).<br>
<br>
<b>Innovative idea and light, compact size</b><br>
Large wheels allow the compressor to move easily even on uneven surfaces at the site (portable type).<br>
<br>
<b>Easy maintenance</b><br>
Inlets of two cylinders are combined into one, and the large inlet filter is even easier to clean (for 2.2-kW and higher models).<br>
<br>
<b>Safety design</b><br>
The dangerous rotating sections are guarded by the plastic belt guard and main unit cover to ensure a higher level of safety. <br>
<br>
<b>Highly efficient cooling system</b><br>
The two-way cooling system, combining a large-capacity cooling fan and the pulley of the main unit, provides much improved cooling performance. This protects the compressor from high temperatures (for 2.2-kW and higher models).
						</div>
{%endblock body%}