{% extends 'base.html' %}
{% block title %}Oil Lubricated Type
{% endblock title %}
{% block body %}
{%load static%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/compressor">Compressor</a></li>
    <li class="breadcrumb-item active" aria-current="page">Recipro-Oil Lubricated Type</li>
  </ol>
</nav>

<h1 class="text-center" style="background: #212529!important;color: wheat;">Recipro-Oil Lubricated Type</h1>

<div class="container">
  <div class="row row-cols-2">
    <div class="col">
		<div class="set">
			<div class="pic"><a href="#"><img src="{% static 'TLP.jpg' %}" width="160" height="113" alt="TLP Series"></a></div>
			<div class="text">
				<h3><a href="/TLP">TLP Series</a></h3>
				<p>・The pressure switch enables simple control.</p>
			</div><!-- /text -->
		</div><!-- /set -->		
	</div>
    <div class="col">
		<div class="set">
			<div class="pic"><a href="#"><img src="{% static 'CLP.jpg' %}" width="160" height="120" alt="CLP Series"></a></div>
			<div class="text">
				<h3><a href="#">CLP Series</a></h3>
				<p>・Simple and economical<br>
				・The package type is very quiet.<br>
				・All models are equipped with an oil alarm as a standard feature.</p>
			</div><!-- /text -->
		</div><!-- /set -->
	</div>
    <div class="col">
		<div class="set">
			<div class="pic"><a href="#"><img src="{% static 'PLUE.jpg' %}" width="160" height="120" alt="Portable Compressor for Outwork PLU/PLUE-B Series"></a></div>
			<div class="text">
				<h3><a href="#">Portable Compressor for Outwork PLU/PLUE-B Series</a></h3>
				<p>Useful in a wide range of outwork applications including building painting, construction and stone processing.</p>
			</div><!-- /text -->
		</div><!-- /set -->
	</div>
    <div class="col">
		<div class="set">
			<div class="pic"><a href="#"><img src="{% static 'TLUE.jpg' %}" width="160" height="121" alt="Engine-Driven Compressor for Outwork TLUE Series"></a></div>
			<div class="text">
				<h3><a href="#">Engine-Driven Compressor for Outwork TLUE Series</a></h3>
				<p>Useful in a wide range of outwork applications including building painting, construction and stone processing.</p>
			</div><!-- /text -->
		</div><!-- /set -->
	</div>	
	
</div>


{%endblock body%}