{% extends 'base.html' %}
{% block title %}TLP Series
{% endblock title %}
{% block body %}
{%load static %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/compressor">Compressor</a></li>
    <li class="breadcrumb-item"><a href="/recipro_oillubricatedtype">Recipro-Oil Lubricated Type</a></li>
    <li class="breadcrumb-item active" aria-current="page">TLP</li>
  </ol>
</nav>

<h1 class="text-center" style="background: #212529!important;color: wheat;">TLP Series</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
         <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'TLP3.7.jpg' %}" class="d-block w-100" alt="...">
         </div>
         <div class="carousel-item">
           <img src="{% static 'TLP1.5.jpg' %}" class="d-block w-100" alt="...">
         </div>
         <div class="carousel-item">
           <img src="{% static 'TLP5.5.jpg' %}" class="d-block w-100" alt="...">
         </div>
         <div class="carousel-item">
           <img src="{% static 'TLP11e.jpg' %}" class="d-block w-100" alt="...">
         </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> 
    </div>
    <div class="col">
     <div class="text">
	      <h2>The pressure switch enables simple control.<br>
        Easy to use and economical.</h2><div class="summary"><b>Applications</b><br>
        ・Source of air for operating general factory equipment<br>
        ・Leisure services<br>
        ・Fiber industry<br>
        ・Others
      </div>
   </div>
  </div>
  <div class="row">
   <div class="col">
      <img src="{% static 'highperformance.jpg' %}" class="rounded float-end" width="320" height="50" alt="">
    </div>
  </div>
</div>

<h1 class="text-center" style="background: #212529!important;color: wheat;">Features</h1>

<div class="textset">
					
						<h3 class="title_s">Energy-efficient, economical and easy to maintain</h3>
					
						<div class="text">
							・Automatic start-stop system using a pressure switch<br>
              ・Air inlet located in front for easy daily maintenance<br>
              　For safety considerations, a plastic safety cover is attached to the high-pressure cylinder that can become very hot.<br>
              ・All the models feature a totally-enclosed fan-cooled motor.<br>
              　This prevents problems such as damage to bearings due to dust or other waste matter and insulation deterioration caused by moisture.<br>
              ・The rotating sections are covered by a totally-enclosed belt guard.
						</div><!-- /text -->

</div>
{%endblock body%}